
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css?x25758" rel="stylesheet">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Follow Us</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Reach Us At</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            The LNMIIT, Jaipur, Rajasthan - 302031
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +91 987 456 0734</li>
        <li><i class="fa fa-envelope-o"></i> feedback@lawyered.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Newsletter signup</h6>
      <form action="#">
      {% csrf_token %}
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="#" >Submit</button>
        </fieldset>
      </form>
    </div>  
  </footer>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
