{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<!-- Bootstrap core CSS -->
	<link href="{%static 'lawyered/assets/css/bootstrap.css' %}" rel="stylesheet">
	<!--external css-->
	<link href="{%static 'lawyered/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{%static 'lawyered/assets/css/zabuto_calendar.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'lawyered/assets/js/gritter/css/jquery.gritter.css' %}" />
	<link rel="stylesheet" type="text/css" href="{%static 'lawyered/assets/lineicons/style.css' %}">    
	
	<!-- Custom styles for this template -->
	<link href="{%static 'lawyered/assets/css/style.css' %}" rel="stylesheet">
	<link href="{%static 'lawyered/assets/css/style-responsive.css' %}" rel="stylesheet">

	<script src="{%static 'lawyered/assets/js/chart-master/Chart.js' %}"></script>


<section id="container" >
		<!--header start-->
		<header class="header black-bg">
			<!--logo start-->
			<a href="{% url 'lawyered:index' %}" class="logo"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LAWYERED</b></a>
			<!--logo end-->
			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="TopMenu" href="{% url 'lawyered:index' %}">Home</a></li>
					<li><a class="TopMenu" href="#">How it Works?</a></li>
					<li><a class="TopMenu" href="#">About</a></li>
					<li><a class="TopMenu" href="#">Contact Us</a></li>
					<li><a class="logout" href="{% url 'lawyered:logout' %}">Logout</a></li>
				</ul>
			</div>
		</header>