{% load static %}

<!DOCTYPE html>
<html lang="en">

    <title>Cases</title>

  </head>

  <body>

  {% include 'lawyered/headerd.html' %}
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="{%static 'lawyered/assets/img/ui-sam.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Name</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
				  
				  <li class="mt">
                       <a href="search.html">
						  <i class="fa fa-tasks"></i>
                          <span>Forums</span>
                      </a>
                  </li>
				  
				  <li class="mt">
                       <a href="search.html">
						  <i class="fa fa-book"></i>
                          <span>Appointments</span>
                      </a>
                  </li>
				  
				  <li class="mt">
                       <a href="search.html">
						  <i class="fa fa-cogs"></i>
                          <span>Settings</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Your Cases</h3>

        <div class="row mt">
          <div class="col-lg-12">
            
            <!-- 1st ROW OF PANELS -->
            
            <div class="row">
              {% for k in case %}
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="product-panel-2 pn">
                  <img src="{%static 'lawyered/assets/img/crime.jpg' %}" width="150" alt=" ">
                  <h5 class="mt">{{k.casetype}}</h5>
                  <a href="/{{k.casetype}}/{{k.id}}/">
                    <button class="btn btn-small btn-theme04">FULL REPORT</button>
                  </a>
                </div>
              </div>
              {% endfor %}<!--/col-md-4 -->

            </div><!--/row -->
          </div>
        </div>

<div class="pagination">
  <span class="step-links">
    {% if case.has_previous %}
    <a href="?page={{ case.previous_page_number }}">< Previous | </a>
    {% endif %}

    <span class="current">
      Page {{ case.number }} of {{ case.paginator.num_pages }}.
    </span>

    {% if case.has_next %}
    <a href="?page={{ case.next_page_number }}"> | Next ></a>
    {% endif %}
  </span>
</div>


      </section>
    </section>

      
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
	<script src="{% static 'lawyered/assets/js/jquery.js' %}"></script>
	<script src="{% static 'lawyered/assets/js/jquery-1.8.3.min.js' %}"></script>
	<script src="{% static 'lawyered/assets/js/bootstrap.min.js' %}"></script>
	<script class="include" type="text/javascript" src="{%static 'lawyered/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
	<script src="{% static 'lawyered/assets/js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'lawyered/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
	<script src="{% static 'lawyered/assets/js/jquery.sparkline.js' %}"></script>


	<!--common script for all pages-->
	<script src="{% static 'lawyered/assets/js/common-scripts.js' %}"></script>

	<script type="text/javascript" src="{% static 'lawyered/assets/js/gritter/js/jquery.gritter.js' %}"></script>
	<script type="text/javascript" src="{% static 'lawyered/assets/js/gritter-conf.js' %}"></script>

	<!--script for this page-->
	<script src="{% static 'lawyered/assets/js/sparkline-chart.js' %}"></script>    
	<script src="{% static 'lawyered/assets/js/zabuto_calendar.js' %}"></script>	
	
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
  

  </body>
</html>
